@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: black;
    display: flex;
    /* height: 45em; */
    height: vh;
    width: vw;
}

.logo {
    background-image: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
    /* width: 25em; */
    /* width: 80%; */
    /* width:90%; */
    /* height: 45em; */
    background-size: 100% 100%;
    position: relative;
    width: 35%;
}

.logo-banner {
    background-color: black;
    opacity: .4;
    /* width: 25em; */
    height: 20%;
    /* height: 8em; */
    position: relative;
    /* top: 8em; */
    top: 10%;
    display: flex;
    justify-content: center;
}


.norse-image {
    width: 6em;
    height: 7em;
    margin: auto;
    margin-right: 0;
}

.norse-text {
    font-family:"Norse";
    color: white;
    margin: auto;
    margin-left: 0;
    font-size: 5em;
}

.non-norse-text {
    color: white;
    margin: auto;
    margin-left: 0;
    font-size: 5em;
}

.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.image-credit, a {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    width: 65%;
}


.information,
.submission {
    background-color: #D9D9D9;
    color: black;
}

.information {
    padding: 100px 55px 20px 40px;
    font-size: 25px;
}

.fields {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 15px 60px 15px 40px
}

.names, 
.contact,
.passwords {
    display: flex;
    margin-bottom: 30px
}

.first_name,
.email,
.password {
    margin-right: 80px;
}

label {
    display: block;
}

input {
    border-color: #E5E7EB;
}

input:focus {
    border-color: blue;
    box-shadow: 1px 1px turquoise;
}

input:invalid {
    border-color: red;
}

.submission {
    padding: 20px 60px 15px 40px
}