@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.woff2') format('woff2'),
        url('../fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: black;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.logo {
    background-image: url(../images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
    position: relative;
    width: 35%;
}

.logo-banner {
    background-color: black;
    opacity: .4;
    height: 20%;
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
}


.norse-image {
    width: 17%;
    height: 85%;
    margin: auto;
    margin-right: 0;
}

.norse-text {
    font-family:"Norse";
    color: white;
    margin: auto;
    margin-left: 0;
    font-size: 5em;
}

.non-norse-text {
    color: white;
    margin: auto;
    margin-left: 0;
    font-size: 5em;
}

.footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    position: absolute;
}

.image-credit, a {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.information,
.submission {
    background-color: #D9D9D9;
    color: black;
}

.information {
    padding: 80px 55px 20px 40px;
    font-size: 1.5em;
    height: 25%;
}

.fields {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 0px 60px 15px 40px;
    height: 35%
}

.names, 
.contact,
.passwords {
    display: flex;
    margin-bottom: 30px
}

.first_name,
.email,
.password {
    margin-right: 80px;
}

label {
    display: block;
}

input {
    border-color: #E5E7EB;
}

input:focus {
    border-color: blue;
    box-shadow: 1px 1px turquoise;
}

input:invalid {
    border-color: red;
}

.submission {
    padding: 30px 60px 15px 40px;
    height: 40%;
}

.submit-button {
    padding: 10px 40px;
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
}

.login {
    color: #596D48;
    text-decoration: none;
}